DjangoProject/djangopro/__pycache__/__init__.cpython-310.pyc
DjangoProject/djangopro/__pycache__/settings.cpython-310.pyc
DjangoProject/djangopro/__pycache__/urls.cpython-310.pyc
DjangoProject/djangopro/__pycache__/wsgi.cpython-310.pyc
DjangoProject/playground/__pycache__/__init__.cpython-310.pyc
DjangoProject/playground/__pycache__/admin.cpython-310.pyc
DjangoProject/playground/__pycache__/apps.cpython-310.pyc
DjangoProject/playground/__pycache__/forms.cpython-310.pyc
DjangoProject/playground/__pycache__/models.cpython-310.pyc
DjangoProject/playground/__pycache__/urls.cpython-310.pyc
DjangoProject/playground/__pycache__/views.cpython-310.pyc
DjangoProject/playground/migrations/__pycache__/__init__.cpython-310.pyc
